<!DOCTYPE html>
<html>
<head>
    <title>光阴虚度</title>
</head>
<body style="background: rgb(192, 170, 108)">
    <div style="float: left;border-radius: 5px;background: rgba(255, 255, 255, 0.671)">
        <div style="box-shadow: 0px 6px 3px #000000;border-radius: 5px;background: rgb(120, 151, 165)">
            <p style="font-size: 60px;font-family: '楷体'">携君共赏风与月</p>
        </div>
        <div>
            <p>
                我的第一个网站。
            </p>
        </div>
        <div style="margin: 0px 10px;border-radius: 5px;background: white;width: 800px;float: left">
            <p>
                左半边。
            </p>
        </div>
        <div style="border-radius: 5px;background: white;width: 800px;float: left">
            <p>
                右半边。
            </p>
        </div>
    </div>
</body>
</html>

